<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hpdframe"
        android:label="@string/mama_watoto_app"
        android:roundIcon="@drawable/hpdframe"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthday"
        tools:targetApi="31" >
        <activity
            android:name=".MainScreen"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddProduct"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Delete"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Edit"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewItems"
            android:exported="true"
            android:theme="@style/Theme.HappyBirthday" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>